*.gitignore
*.log
*.pytest_cache
*.pyo
*.pyc
__pycache__/
**/__pycache__
vscode
.venv
.env
.env-*
.DS_Store
.cache
.mypy_cache/
/dev/
**/dev/
dev/
/test-reports/
/coverage-reports/
.coverage
*.egg-info/
/.idea/*
